!!!
%html{lang:'en'}
%head
  %meta{charset:'utf-8'}
  %title test.
  -# bower:css
  %link{rel:'stylesheet', href:'../bower_components/bootstrap/dist/css/bootstrap.css'}
  -# endbower
  %body
    -# bower:js
    %script{src:'../bower_components/jquery/jquery.js'}
    %script{src:'../bower_components/bootstrap/dist/js/bootstrap.js'}
    -# endbower
